body {
	text-align: center;
	background: url("img/grey-background.jpg");
}

h1, h2, h3, h4, h5, h6, p {
	color: #FFFFFF;
}

#quotesDisplay {
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: lightblue;
}


